<% include ../partials/header %>

<!-- <div class="row">
    <div class="col-md-4 text-center">
        <div class="card">
            <img src="https://cdn2.iconfinder.com/data/icons/business-management-52/96/Artboard_20-512.png">
        </div>
    </div>
    <div class="col-md-8 text-center">
            <div class="card">
                <h1 class="card-title">User profile: <%= user.username %></h1>
            </div>
    </div>
</div>
<div class="row">
        <div class="col-md-12 text-center">
            <div class="card">
                <hr>
                <%= user %>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="thumbnail">
                    <img class="pt-2" src="https://cdn2.iconfinder.com/data/icons/business-management-52/96/Artboard_20-512.png">
                    <div class="caption text-center mt-2"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
                </div>
            </div>
        </div>
        <div class="col-md-9 card">
            <h2 class="card-title pt-2">User profile: <%= user.username %></h1>
            <hr>
                <% if(currentUser && currentUser._id.equals(user._id) || currentUser && currentUser.isAdmin){ %>  
                <form class="form-signin" action="/user/<%= user._id %>/?_method=PUT" method="post">
                    First Name: <input class="form-control" type="text" name="user[firstName]" value=<%= user.firstName %> >
                    Last Name: <input class="form-control" type="text" name="user[lastName]" value=<%= user.lastName %>>
                    Email: <input class="form-control" type="email" name="user[email]" value=<%= user.email %>>
                <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-success btn-block mt-2">Change Details</button>  
                </div>
                </form>
                <%}else{%>
                <form class="form-signin" action="">
                    First Name: <input class="form-control" type="text" name="user[firstName]" value=<%= user.firstName %> disabled >
                    Last Name: <input class="form-control" type="text" name="user[lastName]" value=<%= user.lastName %> disabled >
                    Email: <input class="form-control" type="email" name="user[email]" value=<%= user.email %> disabled>
                </form>
                <%}%>
            <hr class="mt-0 pt-0">
            <button href="/movies" class="btn btn-secondary btn-sm">Go Back</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12 card">
            <h3 class="pt-2"><%= user.username %>'s movies:</h3>
            <hr>
            <ul>
            <% movies.forEach(function(movie) { %>
                <li><a href="/movies/<%= movie.id %>"><%= movie.name %></a></li>
            <% }); %>
            </ul>
        </div>
    </div>

    <div class="row mt-2 ">
            <div class="col-md-12 card pb-2">
                <h3 class="pt-2"><%= user.username %>'s comments:</h3>
                <hr>
    <% foundComments.forEach((comment) => {%>
            <div class="card">
                <div class="card-body">
                    <div class="float-left">
                        <p class="card-title"><strong><a href="/user/<%= comment.author.id %>"><%= comment.author.username %></a></strong></p>
                        <p class="card-text"><%= comment.text %></p>
                    </div>
                </div>
            </div>
        
             <% }) %> 
        </div>
    </div>

<% include ../partials/footer %>