<% include ../partials/header %>
<!-- 
    Main page
 -->
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Central Cinema</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, voluptate.</p>
            <p>
                <!-- Weryfikacja czy user jest adminem (zmiana tylko recznie w mongo) -->
                <% if(currentUser && currentUser.isAdmin) { %>
                    <a class="btn btn-outline-primary btn-lg" href="/movies/new">Add new movie</a>
                <% } %>        
            </p>
        </div>  
    </header>
                            
    <div class="row text-center">
        <% movies.forEach((movie) => { %>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card border-0">
                    <img src="<%=movie.image;%>" class="card-img-top" alt="<%= movie.name;%>">
                    <div class="card-body">
                        <h5 class="card-title"><%= movie.name;%></h5>
                        <!-- Tutaj mozna wstawic bardzo ktorki opis filmu -->
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        <a href="/movies/<%= movie._id %>" class="btn btn-secondary">More info</a>
                        <a href="/movies/<%= movie._id %>/showing" class="btn btn-success">Buy ticket</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>