<% include ../partials/header %>
<!-- 
    Main page
 -->
    <header class="jumbotron mb-2">
        <div class="container">
            <h1>Welcome to Central Cinema</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, voluptate.</p>
            <p>
                <!-- Weryfikacja czy user jest adminem (zmiana tylko recznie w mongo) -->
                <% if(currentUser && currentUser.isAdmin) { %>
                    <a class="btn btn-outline-primary btn-lg" href="/movies/new">Add new movie</a>
                <% } %>        
            </p>
        </div>  
    </header>
    <% var today = new Date() %>
    <% var todayPlusOne = new Date() %>
    <% todayPlusOne.setDate(today.getDate()+1) %>
    <% var todayPlusTwo = new Date() %>
    <% todayPlusTwo.setDate(today.getDate()+2) %>
    <% var todayPlutThree = new Date() %>
    <% todayPlutThree.setDate(today.getDate()+3) %>
    <% var todayPlusFour = new Date() %>
    <% todayPlusFour.setDate(today.getDate()+4) %>
    

    <div class="row text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
            <div class="card border-0">
                <div class="card-body d-flex">
                    <form class="flex-fill" action="/movies" method="GET" name="form1" id="form1">
                        <a class="btn btn-outline-danger btn-lg flex-fill" href="/movies" > All avilable movies </a>
                        <button class="btn btn-outline-info btn-lg flex-fill" id="submit" name="search" type="submit" value="<%= today %>"> <%= new Date().getDate() %>.<%= today.getMonth()+1 %> </button>
                        <button class="btn btn-outline-info btn-lg flex-fill" id="submit" name="search" type="submit" value="<%= todayPlusOne %>"> <%= new Date().getDate()+1 %>.<%= todayPlusOne.getMonth()+1 %> </button>
                        <button class="btn btn-outline-info btn-lg flex-fill" id="submit" name="search" type="submit" value="<%= todayPlusTwo %>"> <%= new Date().getDate()+2 %>.<%= todayPlusTwo.getMonth()+1 %> </button>
                        <button class="btn btn-outline-info btn-lg flex-fill" id="submit" name="search" type="submit" value="<%= todayPlutThree %>"> <%= new Date().getDate()+3 %>.<%= todayPlutThree.getMonth()+1 %> </button>
                        <button class="btn btn-outline-info btn-lg flex-fill" id="submit" name="search" type="submit" value="<%= todayPlusFour %>"> <%= new Date().getDate()+4 %>.<%= todayPlusFour.getMonth()+1 %> </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
                            
    <div class="row text-center">
        <% movies.forEach((movie) => { %>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card border-0">
                    <a href="/movies/<%= movie._id %>"><img src="<%=movie.image;%>" class="card-img-top" alt="<%= movie.name;%>"></a>
                    <div class="card-body">
                        <h5 class="card-title"><%= movie.name;%></h5>
                        <!-- Tutaj mozna wstawic bardzo ktorki opis filmu -->
                        <!-- <p class="card-text"></p> -->
                        <a href="/movies/<%= movie._id %>" class="btn btn-secondary">More info</a>
                        <a href="/movies/<%= movie._id %>/showing" class="btn btn-success">Buy ticket</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>